{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>create</title>
    <link rel="stylesheet" href="{% static 'destyle.css' %}">
  </head>
  <body>
    <h1>ユーザー情報</h1>
    <!--index関数のnewblogのkeyを指定-->
    <h3>学籍番号:</h3>
    <p>{{ data.title }}</p>
    <h3>パスワード:</h3>
    <p>{{ data.password }}</p>
    <h3>ユーザー名:</h3>
    <p>{{ data.name }}</p>
    <h3>アイコン:</h3>
    <p>{{ data.icon }}</p>
    <h3>自己紹介:</h3>
    <div>
        {{ data.text | linebreaksbr}}
    </div>
    <h3>住所:</h3>
    <p>{{ data.address }}</p>
    <h3>メールアドレス:</h3>
    <p>{{ data.mail }}</p>
    <h3>LINE ID:</h3>
    <p>{{ data.line }}</p>
    <h3>Twitter ID:</h3>
    <p>{{ data.twitter }}</p> 
    <form>
      <button type="button" class="button1" onclick="location.href='http://localhost:8000/'">Topへ</button>
    </form>
  </body>
</html>