<!DOCTYPE html>
<html>
  <head>
      <title>ユーザー情報・確認画面</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <h2>ユーザー情報【確認・変更】</h2>
    <!--index関数のnewblogのkeyを指定-->
    <h3>学籍番号:</h3>
    <p>{{ number }}</p>
    <h3>パスワード:</h3>
    <p>{{ password }}</p>
    <h3>住所:</h3>
    <p>{{ address }}</p>
    <h3>メールアドレス:</h3>
    <p>{{ mailaddress }}</p>
    <h3>取引に使うツールの情報</h3>
    <h3>LINE ID:</h3>
    <p>{{ lineid }}</p>
    <h3>Twitter ID:</h3>
    <p>{{ twitterid }}</p>
    <h3>自己紹介:</h3>
    <div>
        {{ body | linebreaksbr}}
      </div>
    <br>
  </body>
</html>