{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>フリマアプリの新規ユーザー情報登録</title>
        <link rel="stylesheet" href="{% static 'A.css' %}">
    </head>
    <body>
        <header>
            <h1>
                <a class="no1" href="http://localhost:8000/"><b>baysell</b></a>
            </h1>
            <nav class="pc-nav">
                <ul>
                    <li><a href="http://localhost:8000/product_list"><b>買う</b></a></li>
                    <li><a href="http://localhost:8000/sell_page"><b>売る</b></a></li>
                    <li><a href="http://localhost:8000/new_information"><b>ユーザー登録</b></a></li>
                </ul>
            </nav>
        </header>
        <br><br><br><br><br><br>
        <form action="{% url 'information' %}" method="post">
            {% csrf_token %}
            <h3 class="no1">新規ユーザー登録</h3>
            <div>
                <h3>取引に使う個人情報の登録</h3><br>
                <label for="titleInput"><b>学籍番号:</b></label>
                <input id="titleInput" name="title" placeholder="s1f10xxxxxx" size="14" maxlength="11"><br>
                <label for="PassInput"><b>パスワード:</b></label>
                <input type="password" id="PassInput" name="password" placeholder="password 最大8文字" size="14" maxlength="8"><br>
                <label for="NameInput"><b>ユーザー名:</b></label>
                <input id="NameInput" name="name" placeholder="本名またはニックネーム"><br>
                <label><b>アイコン：</b></label>
                <input ><br>
                <label for="IconInput"><b>アイコン:</b></label>
                <input id="IconInput" name="icon" placeholder="写真"><br>
                <div>
                    <label for="textInput"><b>自己紹介:</b></label><br>
                    <textarea id="textInput" name="text" rows="5"></textarea>
                </div>
                <label for="AddressInput"><b>住所:</b></label>
                <input id="AddressInput" name="address" placeholder="例：東京都"><br>
                <label for="MailInput"><b>メールアドレス:</b></label>
                <input id="MailInput" name="mail" placeholder="例：s1f10xxxxxxx@iniad.org"　size="30"><br><br>
                <h3>取引に使うツールの情報の登録</h3>
                <label for="LineInput"><b>Line ID:</b></label>
                <input id="LineInput" name="line" placeholder="LINE ID"><br>
                <label for="TwitterInput"><b>Twitter ID:</b></label>
                <input id="TwitterInput" name="twitter" placeholder="@ TWITTER ID"><br>
            </div>
            <br><br><br>
            <div>
                <button type="submit" class="button1"><b>保存確定</b></button>
            </div>
            <br><br><br><br><br>
        </form>
        <!-- footer -->
        <footer>
            <p>© Basic Exercise for Information Cooperation Ⅱ<br>TeamProject</p>
        </footer>
    </body>
</html>