{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>フリマアプリの商品一覧</title>
        <link rel="stylesheet" href="{% static 'E.css' %}">
    </head>
    <body>
        <header>
            <h1>
                <a class="no1" href="http://localhost:8000/"><b>furima</b></a>
            </h1>
            <nav class="pc-nav">
                <ul>
                    <li><a href="http://localhost:8000/product_list"><b>買う</b></a></li>
                    <li><a href="http://localhost:8000/sell_page"><b>売る</b></a></li>
                    <li><a href="http://localhost:8000/information"><b>ユーザー情報</b></a></li>
                </ul>
            </nav>
        </header><br><br>
        <p>ジャンルで絞る</p>
        <form method="GET" action="{% url 'product_list' %}?genre=genre">
            <div>
                <label for="clothes">衣服</label>
                <input id="clothes" value="衣服" type="radio" name="genre">
            </div>
            <div>
                <label for="food">食べ物</label>
                <input id="food" value="食べ物" type="radio" name="genre">
            </div>
            <div>
                <label for="electricity">電気製品</label>
                <input id="electricity" type="radio" name="genre">
            </div>
            <div>
                <label for="entertainment_sports">娯楽・スポーツ</label>
                <input id="entertainment_sports" type="radio" name="genre">
            </div>
            <div>
                <label for="beauty">美容</label>
                <input id="beauty" type="radio" name="genre">
            </div>
            <div>
                <label for="Furniture_accessories">家具・小物</label>
                <input id="Furniture_accessories" type="radio" name="genre">
            </div>
            <div>
                <label for="other">その他</label>
                <input id="other" type="radio" name="genre">
            </div>
            <button type="submit">絞る</button>
            <button type="reset" onclick="location.href='{% url 'product_list' %}'">リセット</button>
        </form>
        <h1>商品一覧</h1>
        {% for product in products %}
        <div>
        <img src='{{ MEDIA_URL }}{{product.picture_1}}' width="100" onclick="location.href='{% url 'product_detail' product.id %}'">
        <h4>￥{{ product.price }}</h4>
        </div>
        {% endfor %}
        <!-- footer -->
        <footer>
            <p>© Basic Exercise for Information Cooperation Ⅱ<br>TeamProject</p>
        </footer>
    </body>
</html>