{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>フリーマーケットアプリの出品ページ</title>
        <link rel="stylesheet" href="{% static 'sell.css' %}">
    </head>
    <body>
        <form>
            <form method="post" enctype="multipart/form-data">
                <h3>商品の写真：</h3>
                <div id="selectArea">
                    <p class='product_picture'>
                        <input id="picture" type="file" accept="image/*" value="ファイルを選択" name="product_photo" onChange="photoPreview(event)">
                    </p>
                    </div>
                </div>
            </form>
        <h3>商品名:<input type="text" name="sell_name" size="15"></h3>
        <h3>値段:<input type="text" name="price" size="6">円</h3>
        <h3>商品の説明:<input type="text" name="description" size="30"></h3>
        <label>ジャンル:
            <select id='genre_select'>
                <option value='value1' selected>衣服</option>
            　　<option value='value2' selected>家電</option>
            　　<option value='value3' selected>娯楽、スポーツ</option>
           　　 <option value='value4' selected>美容</option>
            　　<option value='value5' selected>家具、小物</option>
           　　 <option value='value6' selected>その他</option>
        　　</select>
    　　</label>
        <h3>商品の状態:
            <select>
                <option value='value7' selected>新品、未使用</option>
                <option value='value8' selected>私用感あり</option>
                <option value='value9' selected>状態が悪い</option>
            </select>
        </h3>
        <button type="button" onclick="location.href='{% url 'index' %}'">ホーム画面に戻る</button>
        </form>
    </body>
</html>